
.sidebar {
  width: 240px;
  min-height: 100vh;
  background: #14171f;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  transition: width 0.2s ease;
}

.sidebar__logo {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 16px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  display: flex;
  align-items: center;
  justify-content: space-between;

  white-space: nowrap;
  overflow: hidden;
}

/* MENU FECHADO */
.sidebar:not(.sidebar--aberto) {
  width: 52px;
}

.sidebar:not(.sidebar--aberto) .sidebar__logo span {
  display: none;
}

/* MENU ABERTO */
.sidebar.sidebar--aberto {
  width: 240px;
}
